apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  labels:
    app: app-name
    version: stable
  name: app-name
spec:
  selector:
    matchLabels:
      app: app-name
      version: stable
  template:
    metadata:
      labels:
        app: app-name
        version: stable
    spec:
      containers:
      - name: container
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 30
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: regcred
